
  <div class="menu" id="menu" hidden>
    <div class="menu__inner">
      <button class="menu__close" type="button" data-i18n-attr="aria-label:menu.close" data-menu-toggle data-i18n="close">Close</button>
      <ul class="menu__list">
        <li><a href="#">Reservation</a></li>
        <li><a href="{{P}}archives.html">Archives</a></li>
{{studio_items}}
        <li class="menu__gap"><a href="{{P}}journal.html">Journal</a></li>
        <li><a href="{{P}}qna.html">Q&amp;A</a></li>
        <li><a href="{{P}}guide.html">Guide</a></li>
        <li><a href="{{P}}about.html">About</a></li>
      </ul>
      <div class="menu__lang"><a href="#" data-lang-set="ko">KO</a><a href="#" data-lang-set="en">EN</a></div>
    </div>
  </div>
